@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');

body {
  font-family: 'Rubik', sans-serif !important;
  margin: 0;
  padding: 0;
  /* --primary: #059669;
  --secondary: #e2e8f0; */
  overflow-x: hidden;
  overflow-y: scroll;
}

html{scroll-behavior:smooth}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #300564ad;
  /* outline: 1px solid var(--primary); */
}